@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff8c00; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 400;
    color: #777777 !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffd700 !important; 
}

h1, h2, h3 {
    color: #32cd32; 
}

.btn-success {
    background-color: #32cd32; 
    border-color: #32cd32;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-success:hover {
    background-color: #28a745; 
    transform: translateY(-2px);
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.text-primary {
    color: #32cd32 !important; 
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #ff8c00; 
}

.btn-custom {
    background-color: #f0f0f0;
    color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom:hover {
    background-color: #ff6600;
    color: #ffffff;
    border-color: #ff6600;
}

.btn-custom:focus, .btn-custom:active {
    box-shadow: none;
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-green {
    background-color: #28a745;
    color: #ffffff;
    border: 1px solid #28a745;
}

.btn-green:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-yellow {
    background-color: #ebb002;
    color: #ffffff;
    border: 1px solid #ebb002;
}

.btn-yellow:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-orange {
    background-color: #fd7e14;
    color: #ffffff;
    border: 1px solid #fd7e14;
}

.btn-orange:hover {
    background-color: #e7670f;
    border-color: #e14a02;
}


