{% extends 'base.html' %}

{% block title %}Gestión de Empleados{% endblock %}
{% set show_navigation = true %}
{% block content %}
    <div class="container">
        <h2>Gestión de Empleados</h2>
        <p></p>
        <div class="btn-group-vertical" role="group" aria-label="Gestión de Empleados">
            <a href="{{ url_for('detalles_empleado') }}" class="btn btn-green">Gestión de Empleados</a>
            <a href="{{ url_for('solicitar_vacaciones') }}" class="btn btn-orange">Solicitar Vacaciones</a>
            <a href="{{ url_for('ver_solicitudes') }}" class="btn btn-yellow">Ver Solicitudes</a>
            <a href="{{ url_for('calcular_nomina') }}" class="btn btn-green">Calcular Nómina</a>
            <a href="{{ url_for('resultado_evaluacion') }}" class="btn btn-orange">Evaluaciones de Desempeño</a>
            <a href="{{ url_for('consultar_ventas') }}" class="btn btn-yellow">Consultar Ventas</a>
        </div>
    </div>
{% endblock %}
