{% extends 'base.html' %}

{% block title %}Reabastecimiento Automatizado{% endblock %}
{% set show_navigation = true %}
{% block content %}
    <div class="container">
        <h2>Reabastecimiento Automatizado</h2>
        <p>Seleccione una opción para gestionar el reabastecimiento de gasolina:</p>
        <div class="btn-group-vertical" role="group" aria-label="Reabastecimiento Automatizado">
         <a href="{{ url_for('configurar_umbrales') }}" class="btn btn-green">Configurar Umbrales de Reabastecimiento</a>
         <a href="{{ url_for('solicitud_reabastecimiento') }}" class="btn btn-yellow">Ver Solicitud de Reabastecimiento</a>
         <a href="{{ url_for('configurar_alertas') }}" class="btn btn-orange">Configurar y Ver Alertas de Nivel Bajo</a>
         <a href="{{ url_for('registro_entregas') }}" class="btn btn-yellow">Registrar y Ver Entregas</a>
         <a href="{{ url_for('incidencias') }}" class="btn btn-green">Reportar y Gestionar Incidencias</a>
        </div>
    </div>

{% endblock %}
