{% extends 'base.html' %}

{% block title %}Evaluaciones{% endblock %}
{% set show_navigation = true %}
{% block content %}
    <h1>Resultados de Evaluación</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Puntuación</th>
                <th>Comentarios</th>
                {% if current_user.rol in ['Administrador', 'Gerente'] %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for evaluacion in evaluaciones %}
                {% if current_user.rol in ['Administrador', 'Gerente'] or current_user.empleado_id == evaluacion.empleado_id %}
                    <tr>
                        <td>{{ evaluacion.id }}</td>
                        <td>{{ evaluacion.empleado_nombre }}</td>
                        <td>{{ evaluacion.puntuacion }}</td>
                        <td>{{ evaluacion.comentarios }}</td>
                        {% if current_user.rol in ['Administrador', 'Gerente'] %}
                            <td>
                                <a href="{{ url_for('actualizar_evaluacion', evaluacion_id=evaluacion.id) }}" class="btn btn-yellow">Editar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.rol in ['Administrador', 'Gerente'] %}
        <a href="{{ url_for('evaluar_desempeno') }}" class="btn btn-orange">Evaluar</a>
    {% endif %}
{% endblock %}
