{% extends 'base.html' %}

{% block title %}Evaluaciones{% endblock %}
{% set show_navigation = true %}
{% block content %}
    <h1>Resultados de Evaluación</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Puntuación</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Camila Luna</td>
                <td>85</td>
                <td>Buen desempeño y actitud, pero puede mejorar en trabajo en equipo.</td>
                <td>
                    <a href="{{ url_for('actualizar_evaluacion') }}" class="btn btn-yellow">Editar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Doe</td>
                <td>92</td>
                <td>Excelente desempeño, muy proactiva.</td>
                <td>
                    <a href="{{ url_for('actualizar_evaluacion') }}" class="btn btn-yellow">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ url_for('evaluar_desempeno') }}" class="btn btn-orange">Evaluar</a>
{% endblock %}
